In [56]:
import numpy as np
import pandas as pd
from statsmodels.stats.inter_rater import fleiss_kappa, aggregate_raters
import matplotlib.pyplot as plt

In [57]:
# read tsv with headers
with open("./exports/crowd_data.tsv", "r") as f:
    crowd_df = pd.read_csv(f, sep="\t")

crowd_df

,HITId,HITTypeId,Title,Reward,AssignmentId,WorkerId,AssignmentStatus,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
0,1,7QT,Is this triple correct or incorrect?,$0.50,1,2133ICYWE97,Submitted,60,99%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
1,1,7QT,Is this triple correct or incorrect?,$0.50,2,2133U7HKDLO,Submitted,40,40%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,yes,yes
2,1,7QT,Is this triple correct or incorrect?,$0.50,3,928UJANWZ12,Submitted,50,98%,wd:Q11621,wdt:P2142,792910554,2.0,INCORRECT,NaN,NaN
3,1,7QT,Is this triple correct or incorrect?,$0.50,4,1726JMZQW,Submitted,80,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
4,1,7QT,Is this triple correct or incorrect?,$0.50,5,2134U7HKDMM,Submitted,2,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
300,61,9QT,Is this triple correct or incorrect?,$0.50,301,AALKMII97,Submitted,240,98%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,Object,Q1860
301,61,9QT,Is this triple correct or incorrect?,$0.50,302,HHCKW1111,Submitted,200,80%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
302,61,9QT,Is this triple correct or incorrect?,$0.50,303,GGUI83657S,Submitted,120,85%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
303,61,9QT,Is this triple correct or incorrect?,$0.50,304,WWHL098SA43,Submitted,10,69%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,NaN,NaN
304,61,9QT,Is this triple correct or incorrect?,$0.50,305,QZAHIFT8263,Submitted,2,40%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,100,100

In [58]:
crowd_df['LifetimeApprovalRate'] = crowd_df['LifetimeApprovalRate'].astype(str).str.rstrip('%').astype(float)
median_rate = crowd_df['LifetimeApprovalRate'].median()
crowd_df = crowd_df[(crowd_df['LifetimeApprovalRate'] >= median_rate)]
print(f"Median lifetime approval rate: {int(median_rate)}%")
crowd_df

Median lifetime approval rate: 80%

,HITId,HITTypeId,Title,Reward,AssignmentId,WorkerId,AssignmentStatus,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
0,1,7QT,Is this triple correct or incorrect?,$0.50,1,2133ICYWE97,Submitted,60,99.0,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
2,1,7QT,Is this triple correct or incorrect?,$0.50,3,928UJANWZ12,Submitted,50,98.0,wd:Q11621,wdt:P2142,792910554,2.0,INCORRECT,NaN,NaN
6,2,7QT,Is this triple correct or incorrect?,$0.50,7,2133ICYWE97,Submitted,120,99.0,wd:Q603545,wdt:P2142,4300000,1.0,CORRECT,NaN,NaN
7,2,7QT,Is this triple correct or incorrect?,$0.50,8,928UJANWZ12,Submitted,60,98.0,wd:Q603545,wdt:P2142,4300000,1.0,CORRECT,NaN,NaN
10,3,7QT,Is this triple correct or incorrect?,$0.50,11,2133ICYWE97,Submitted,140,99.0,wd:Q16911843,wdt:P577,2014-01-18,2.0,INCORRECT,Object,2014-02-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,60,9QT,Is this triple correct or incorrect?,$0.50,297,HHCKW1111,Submitted,200,80.0,wd:Q21060270,wdt:P27,wd:Q916,1.0,CORRECT,NaN,NaN
297,60,9QT,Is this triple correct or incorrect?,$0.50,298,GGUI83657S,Submitted,120,85.0,wd:Q21060270,wdt:P27,wd:Q916,1.0,CORRECT,NaN,NaN
300,61,9QT,Is this triple correct or incorrect?,$0.50,301,AALKMII97,Submitted,240,98.0,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,Object,Q1860
301,61,9QT,Is this triple correct or incorrect?,$0.50,302,HHCKW1111,Submitted,200,80.0,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
302,61,9QT,Is this triple correct or incorrect?,$0.50,303,GGUI83657S,Submitted,120,85.0,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN

In [59]:
median_rate = crowd_df['WorkTimeInSeconds'].median()
crowd_df = crowd_df[(crowd_df['WorkTimeInSeconds'] >= median_rate)]
print(f"Median work time in seconds: {int(median_rate)}s")
crowd_df

Median work time in seconds: 200s

,HITId,HITTypeId,Title,Reward,AssignmentId,WorkerId,AssignmentStatus,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
16,4,7QT,Is this triple correct or incorrect?,$0.50,17,928UJANWZ12,Submitted,240,98.0,wd:Q132863,wdt:P2142,969023261,2.0,INCORRECT,NaN,NaN
22,5,7QT,Is this triple correct or incorrect?,$0.50,23,928UJANWZ12,Submitted,240,98.0,wd:Q1628022,wdt:P577,1951-01-01,1.0,CORRECT,NaN,NaN
36,8,7QT,Is this triple correct or incorrect?,$0.50,37,928UJANWZ12,Submitted,240,98.0,wd:Q217010,wdt:P2142,698491347,2.0,INCORRECT,Object,698491348
51,11,7QT,Is this triple correct or incorrect?,$0.50,52,928UJANWZ12,Submitted,240,98.0,wd:Q1339195,ddis:indirectSubclassOf,wd:Q27096213,2.0,INCORRECT,Object,wd:Q72
56,12,7QT,Is this triple correct or incorrect?,$0.50,57,928UJANWZ12,Submitted,240,98.0,wd:Q104649845,ddis:indirectSubclassOf,wd:Q43229,1.0,CORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,59,9QT,Is this triple correct or incorrect?,$0.50,292,HHCKW1111,Submitted,200,80.0,wd:Q1893555,wdt:P272,wd:Q48784114,2.0,INCORRECT,Object,Q7488442
295,60,9QT,Is this triple correct or incorrect?,$0.50,296,AALKMII97,Submitted,240,98.0,wd:Q21060270,wdt:P27,wd:Q916,2.0,INCORRECT,Object,Q884
296,60,9QT,Is this triple correct or incorrect?,$0.50,297,HHCKW1111,Submitted,200,80.0,wd:Q21060270,wdt:P27,wd:Q916,1.0,CORRECT,NaN,NaN
300,61,9QT,Is this triple correct or incorrect?,$0.50,301,AALKMII97,Submitted,240,98.0,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,Object,Q1860
301,61,9QT,Is this triple correct or incorrect?,$0.50,302,HHCKW1111,Submitted,200,80.0,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN

In [60]:
filtered_df = crowd_df.groupby("HITId").filter(
    lambda group: group[group["AnswerLabel"] == "INCORRECT"].shape[0] >
                  group[group["AnswerLabel"] == "CORRECT"].shape[0]
)
filtered_df

,HITId,HITTypeId,Title,Reward,AssignmentId,WorkerId,AssignmentStatus,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
16,4,7QT,Is this triple correct or incorrect?,$0.50,17,928UJANWZ12,Submitted,240,98.0,wd:Q132863,wdt:P2142,969023261,2.0,INCORRECT,NaN,NaN
36,8,7QT,Is this triple correct or incorrect?,$0.50,37,928UJANWZ12,Submitted,240,98.0,wd:Q217010,wdt:P2142,698491347,2.0,INCORRECT,Object,698491348
51,11,7QT,Is this triple correct or incorrect?,$0.50,52,928UJANWZ12,Submitted,240,98.0,wd:Q1339195,ddis:indirectSubclassOf,wd:Q27096213,2.0,INCORRECT,Object,wd:Q72
66,14,7QT,Is this triple correct or incorrect?,$0.50,67,928UJANWZ12,Submitted,240,98.0,wd:Q1004,ddis:indirectSubclassOf,wd:Q47461344,2.0,INCORRECT,NaN,NaN
96,20,7QT,Is this triple correct or incorrect?,$0.50,97,928UJANWZ12,Submitted,236,98.0,wd:Q15239622,ddis:indirectSubclassOf,wd:Q27096213,2.0,INCORRECT,NaN,NaN
105,22,8QT,Is this triple correct or incorrect?,$0.50,106,AALKMII98,Submitted,337,98.0,wd:Q1720855,wdt:P577,2010-10-01,2.0,INCORRECT,Object,2010-01-01
110,23,8QT,Is this triple correct or incorrect?,$0.50,111,AALKMII98,Submitted,237,98.0,wd:Q598752,wdt:P577,2001-01-01,2.0,INCORRECT,Object,2011-01-01
111,23,8QT,Is this triple correct or incorrect?,$0.50,112,HHCKW1111,Submitted,200,80.0,wd:Q598752,wdt:P577,2001-01-01,2.0,INCORRECT,Object,2011-01-01
125,26,8QT,Is this triple correct or incorrect?,$0.50,126,HHCKW1111,Submitted,200,80.0,wd:Q1410031,wdt:P577,2010-10-01,2.0,INCORRECT,Object,2011-01-01
126,26,8QT,Is this triple correct or incorrect?,$0.50,127,AALKMII98,Submitted,235,98.0,wd:Q1410031,wdt:P577,2010-10-01,2.0,INCORRECT,Object,2011-01-01
140,29,8QT,Is this triple correct or incorrect?,$0.50,141,AALKMII98,Submitted,240,98.0,wd:Q639070,wdt:P161,wd:Q2865083,2.0,INCORRECT,Object,Q5423258
141,29,8QT,Is this triple correct or incorrect?,$0.50,142,HHCKW1111,Submitted,200,80.0,wd:Q639070,wdt:P161,wd:Q2865083,2.0,INCORRECT,Object,Q5423258
165,34,8QT,Is this triple correct or incorrect?,$0.50,166,AALKMII98,Submitted,240,98.0,wd:Q1039395,wdt:P161,wd:Q17386547,2.0,INCORRECT,Subject,Q908556
166,34,8QT,Is this triple correct or incorrect?,$0.50,167,HHCKW1111,Submitted,200,80.0,wd:Q1039395,wdt:P161,wd:Q17386547,2.0,INCORRECT,Subject,Q908556
190,39,8QT,Is this triple correct or incorrect?,$0.50,191,AALKMII98,Submitted,240,98.0,wd:Q814781,wdt:.P344,wd:Q40087803,2.0,INCORRECT,Subject,Q27703272
200,41,8QT,Is this triple correct or incorrect?,$0.50,201,AALKMII98,Submitted,241,98.0,wd:Q1123629,wdt:P725,wd:Q211040,2.0,INCORRECT,Predicate,P161
201,41,8QT,Is this triple correct or incorrect?,$0.50,202,HHCKW1111,Submitted,200,80.0,wd:Q1123629,wdt:P725,wd:Q211040,2.0,INCORRECT,Predicate,P161
210,43,9QT,Is this triple correct or incorrect?,$0.50,211,AALKMII97,Submitted,240,98.0,wd:Q610633,wdt:P2554,wd:Q1700810,2.0,INCORRECT,Predicate,P58
211,43,9QT,Is this triple correct or incorrect?,$0.50,212,HHCKW1111,Submitted,200,80.0,wd:Q610633,wdt:P2554,wd:Q1700810,2.0,INCORRECT,Predicate,P58
215,44,9QT,Is this triple correct or incorrect?,$0.50,216,AALKMII97,Submitted,240,98.0,wd:Q2188914,wdt:P161,wd:Q2416526,2.0,INCORRECT,Object,Q17350908
216,44,9QT,Is this triple correct or incorrect?,$0.50,217,HHCKW1111,Submitted,200,80.0,wd:Q2188914,wdt:P161,wd:Q2416526,2.0,INCORRECT,Object,Q17350908
225,46,9QT,Is this triple correct or incorrect?,$0.50,226,AALKMII97,Submitted,240,98.0,wd:Q209538,wdt:P3650,wd:Q28732983,2.0,INCORRECT,Object,NaN
226,46,9QT,Is this triple correct or incorrect?,$0.50,227,HHCKW1111,Submitted,200,80.0,wd:Q209538,wdt:P3650,wd:Q28732983,2.0,INCORRECT,Object,Q28732985
230,47,9QT,Is this triple correct or incorrect?,$0.50,231,AALKMII97,Submitted,240,98.0,wd:Q31202708,wdt:P3092,wd:Q4805527,2.0,INCORRECT,Predicate,P58
231,47,9QT,Is this triple correct or incorrect?,$0.50,232,HHCKW1111,Submitted,200,80.0,wd:Q31202708,wdt:P3092,wd:Q4805527,2.0,INCORRECT,Predicate,P58
285,58,9QT,Is this triple correct or incorrect?,$0.50,286,AALKMII97,Submitted,240,98.0,wd:Q943992,wdt:P161,wd:Q160432,2.0,INCORRECT,Object,Q7360827
289,58,9QT,Is this triple correct or incorrect?,$0.50,290,HHCKW1111,Submitted,200,80.0,wd:Q943992,wdt:P161,wd:Q160432,2.0,INCORRECT,Object,NaN

In [61]:
import json
json_files = ["./exports/people_db.json", "./exports/movie_db.json"]
merged_data = {
    k.split("/")[-1]: v
    for file_path in json_files
    for k, v in json.load(open(file_path, 'r')).items()
}

with open("./exports/predicate_db.json", 'r') as f:
    # Reversed index
    merged_data.update({v.split("/")[-1]: k for k, v in json.load(f).items()})

def set_label(identity, required=True):
    identity = str(identity)
    if "/" in identity:
        identity = identity.split("/")[-1]
    elif ":" in identity:
        identity = identity.split(":")[-1]
    return merged_data.get(identity, np.nan if required else identity)

for column in ["Input1ID", "Input2ID", "Input3ID"]:
    filtered_df[column] = filtered_df[column].apply(set_label, required=True)

filtered_df["FixValue"] = filtered_df["FixValue"].apply(set_label, required=False)

filtered_df = filtered_df.dropna(subset=["Input1ID", "Input2ID", "Input3ID"])


filtered_df

,HITId,HITTypeId,Title,Reward,AssignmentId,WorkerId,AssignmentStatus,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
140,29,8QT,Is this triple correct or incorrect?,$0.50,141,AALKMII98,Submitted,240,98.0,magic carpet ride,cast member,arthur dupont,2.0,INCORRECT,Object,ezgi mola
141,29,8QT,Is this triple correct or incorrect?,$0.50,142,HHCKW1111,Submitted,200,80.0,magic carpet ride,cast member,arthur dupont,2.0,INCORRECT,Object,ezgi mola
165,34,8QT,Is this triple correct or incorrect?,$0.50,166,AALKMII98,Submitted,240,98.0,martial arts of shaolin,cast member,peter breitmayer,2.0,INCORRECT,Subject,horrible bosses
166,34,8QT,Is this triple correct or incorrect?,$0.50,167,HHCKW1111,Submitted,200,80.0,martial arts of shaolin,cast member,peter breitmayer,2.0,INCORRECT,Subject,horrible bosses
200,41,8QT,Is this triple correct or incorrect?,$0.50,201,AALKMII98,Submitted,241,98.0,conan the barbarian,voice actor,rose mcgowan,2.0,INCORRECT,Predicate,cast member
201,41,8QT,Is this triple correct or incorrect?,$0.50,202,HHCKW1111,Submitted,200,80.0,conan the barbarian,voice actor,rose mcgowan,2.0,INCORRECT,Predicate,cast member
210,43,9QT,Is this triple correct or incorrect?,$0.50,211,AALKMII97,Submitted,240,98.0,eskimo,production designer,john lee mahin,2.0,INCORRECT,Predicate,screenwriter
211,43,9QT,Is this triple correct or incorrect?,$0.50,212,HHCKW1111,Submitted,200,80.0,eskimo,production designer,john lee mahin,2.0,INCORRECT,Predicate,screenwriter
215,44,9QT,Is this triple correct or incorrect?,$0.50,216,AALKMII97,Submitted,240,98.0,a happy event,cast member,theis schmidt,2.0,INCORRECT,Object,erika sainte
216,44,9QT,Is this triple correct or incorrect?,$0.50,217,HHCKW1111,Submitted,200,80.0,a happy event,cast member,theis schmidt,2.0,INCORRECT,Object,erika sainte
230,47,9QT,Is this triple correct or incorrect?,$0.50,231,AALKMII97,Submitted,240,98.0,top gun maverick,film crew member,ashley miller,2.0,INCORRECT,Predicate,screenwriter
231,47,9QT,Is this triple correct or incorrect?,$0.50,232,HHCKW1111,Submitted,200,80.0,top gun maverick,film crew member,ashley miller,2.0,INCORRECT,Predicate,screenwriter
285,58,9QT,Is this triple correct or incorrect?,$0.50,286,AALKMII97,Submitted,240,98.0,a night at the opera,cast member,jude law,2.0,INCORRECT,Object,rolfe sedan
289,58,9QT,Is this triple correct or incorrect?,$0.50,290,HHCKW1111,Submitted,200,80.0,a night at the opera,cast member,jude law,2.0,INCORRECT,Object,nan

In [62]:
duplicate_answers = crowd_df[crowd_df.duplicated(subset=["WorkerId", "HITId"], keep=False)]
duplicate_summary = duplicate_answers.groupby(["WorkerId", "HITId"]).size().reset_index(name="Duplicate_Count")

if not duplicate_summary.empty:
    print("Workers who answered the same question more than once:")
else:
    print("No workers answered the same question more than once.")

No workers answered the same question more than once.