In [321]:
import numpy as np
import pandas as pd
import json

In [322]:
# read tsv with headers
with open("./exports/crowd_data.tsv", "r") as f:
    crowd_df = pd.read_csv(f, sep="\t", index_col="AssignmentId")
    crowd_df = crowd_df.sort_values(by=["HITId", "WorkerId"])

crowd_df

,HITId,HITTypeId,Title,Reward,WorkerId,AssignmentStatus,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,,,,,
4,1,7QT,Is this triple correct or incorrect?,$0.50,1726JMZQW,Submitted,80,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
1,1,7QT,Is this triple correct or incorrect?,$0.50,2133ICYWE97,Submitted,60,99%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
2,1,7QT,Is this triple correct or incorrect?,$0.50,2133U7HKDLO,Submitted,40,40%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,yes,yes
5,1,7QT,Is this triple correct or incorrect?,$0.50,2134U7HKDMM,Submitted,2,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
3,1,7QT,Is this triple correct or incorrect?,$0.50,928UJANWZ12,Submitted,50,98%,wd:Q11621,wdt:P2142,792910554,2.0,INCORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,61,9QT,Is this triple correct or incorrect?,$0.50,AALKMII97,Submitted,240,98%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,Object,Q1860
303,61,9QT,Is this triple correct or incorrect?,$0.50,GGUI83657S,Submitted,120,85%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
302,61,9QT,Is this triple correct or incorrect?,$0.50,HHCKW1111,Submitted,200,80%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
305,61,9QT,Is this triple correct or incorrect?,$0.50,QZAHIFT8263,Submitted,2,40%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,100,100
304,61,9QT,Is this triple correct or incorrect?,$0.50,WWHL098SA43,Submitted,10,69%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,NaN,NaN

In [323]:
crowd_df = crowd_df.drop(columns=["Title", "Reward", "AssignmentStatus"])
crowd_df

,HITId,HITTypeId,WorkerId,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,,
4,1,7QT,1726JMZQW,80,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
1,1,7QT,2133ICYWE97,60,99%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
2,1,7QT,2133U7HKDLO,40,40%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,yes,yes
5,1,7QT,2134U7HKDMM,2,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
3,1,7QT,928UJANWZ12,50,98%,wd:Q11621,wdt:P2142,792910554,2.0,INCORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
301,61,9QT,AALKMII97,240,98%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,120,85%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
302,61,9QT,HHCKW1111,200,80%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
305,61,9QT,QZAHIFT8263,2,40%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,100,100
304,61,9QT,WWHL098SA43,10,69%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,NaN,NaN

In [324]:
crowd_df['LifetimeApprovalRate'] = crowd_df['LifetimeApprovalRate'].astype(str).str.rstrip('%').astype(float)

median_rate = crowd_df['LifetimeApprovalRate'].median()

correction = 20
crowd_df = crowd_df[(crowd_df['LifetimeApprovalRate'] >= median_rate - correction)]

print(f"Median lifetime approval rate: {int(median_rate)}%")

crowd_df

TypeError: '>=' not supported between instances of 'str' and 'float'

In [311]:
median_rate = crowd_df['WorkTimeInSeconds'].median()

correction = 0
crowd_df = crowd_df[(crowd_df['WorkTimeInSeconds'] >= median_rate - correction)]

print(f"Median work time in seconds: {int(median_rate)}s")
crowd_df

,HITId,HITTypeId,WorkerId,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,,
4,1,7QT,1726JMZQW,80,70.0,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
1,1,7QT,2133ICYWE97,60,99.0,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
5,1,7QT,2134U7HKDMM,2,70.0,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
3,1,7QT,928UJANWZ12,50,98.0,wd:Q11621,wdt:P2142,792910554,2.0,INCORRECT,NaN,NaN
9,2,7QT,1726JMZQW,90,70.0,wd:Q603545,wdt:P2142,4300000,1.0,CORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
299,60,9QT,WWHL098SA43,10,69.0,wd:Q21060270,wdt:P27,wd:Q916,2.0,INCORRECT,NaN,NaN
301,61,9QT,AALKMII97,240,98.0,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,120,85.0,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
302,61,9QT,HHCKW1111,200,80.0,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
304,61,9QT,WWHL098SA43,10,69.0,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,NaN,NaN

In [312]:
crowd_df = crowd_df.drop(columns=["WorkTimeInSeconds", "LifetimeApprovalRate"])

In [313]:
filtered_df = crowd_df.groupby("HITId").filter(
    lambda group: group[group["AnswerLabel"] == "INCORRECT"].shape[0] >
                  group[group["AnswerLabel"] == "CORRECT"].shape[0]
)
filtered_df

filtered_df = crowd_df

In [314]:
json_files = ["./exports/people_db.json", "./exports/movie_db.json"]
merged_data = {
    k.split("/")[-1]: v
    for file_path in json_files
    for k, v in json.load(open(file_path, 'r')).items()
}

with open("./exports/predicate_db.json", 'r') as f:
    # Reversed index
    merged_data.update({v.split("/")[-1]: k for k, v in json.load(f).items()})

def set_label(value, required=True):
    value = str(value)
    if "/" in value:
        value = value.split("/")[-1]
    elif ":" in value:
        value = value.split(":")[-1]
    return merged_data.get(value, np.nan if required else value)

for column in ["Input1ID", "Input2ID"]:
    filtered_df[column] = filtered_df[column].apply(set_label, required=True)

for column in ["Input3ID", "FixValue"]:
    filtered_df[column] = filtered_df[column].apply(set_label, required=False)


filtered_df = filtered_df.dropna(subset=["Input1ID", "Input2ID", "Input3ID"])

filtered_df

,HITId,HITTypeId,WorkerId,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,
4,1,7QT,1726JMZQW,et the extraterrestrial,box office,792910554,1.0,CORRECT,NaN,nan
1,1,7QT,2133ICYWE97,et the extraterrestrial,box office,792910554,1.0,CORRECT,NaN,nan
5,1,7QT,2134U7HKDMM,et the extraterrestrial,box office,792910554,1.0,CORRECT,NaN,nan
3,1,7QT,928UJANWZ12,et the extraterrestrial,box office,792910554,2.0,INCORRECT,NaN,nan
9,2,7QT,1726JMZQW,peaceful warrior,box office,4300000,1.0,CORRECT,NaN,nan
...,...,...,...,...,...,...,...,...,...,...
299,60,9QT,WWHL098SA43,cho geunhyeon,country of citizenship,Q916,2.0,INCORRECT,NaN,nan
301,61,9QT,AALKMII97,nat pendleton,languages spoken written or signed,Q13330,2.0,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,nat pendleton,languages spoken written or signed,Q13330,1.0,CORRECT,NaN,nan
302,61,9QT,HHCKW1111,nat pendleton,languages spoken written or signed,Q13330,1.0,CORRECT,NaN,nan
304,61,9QT,WWHL098SA43,nat pendleton,languages spoken written or signed,Q13330,2.0,INCORRECT,NaN,nan

In [315]:
duplicate_answers = crowd_df[crowd_df.duplicated(subset=["WorkerId", "HITId"], keep=False)]
duplicate_summary = duplicate_answers.groupby(["WorkerId", "HITId"]).size().reset_index(name="Duplicate_Count")

if not duplicate_summary.empty:
    print("Workers who answered the same question more than once:")
else:
    print("No workers answered the same question more than once.")

No workers answered the same question more than once.

In [316]:
result = (
    filtered_df.groupby(["Input1ID", "Input2ID", "Input3ID", "HITTypeId"])
    .agg(
        Votes_CORRECT=("AnswerLabel", lambda x: (x == "CORRECT").sum()),
        Votes_INCORRECT=("AnswerLabel", lambda x: (x == "INCORRECT").sum()),
        Corrections_Subject=("FixValue", lambda x: x[filtered_df["FixPosition"] == "Subject"].tolist()),
        Corrections_Predicate=("FixValue", lambda x: x[filtered_df["FixPosition"] == "Predicate"].tolist()),
        Corrections_Object=("FixValue", lambda x: x[filtered_df["FixPosition"] == "Object"].tolist()),
    )
    .reset_index()
)

def ensure_single_value(corrections):
    unique_values = list(set([v for v in corrections if pd.notna(v) and v != "nan"]))
    if len(unique_values) > 1:
        raise ValueError(f"Multiple values found where a single value is expected: {unique_values}")
    return unique_values[0] if unique_values else np.nan

result["Corrections_Subject"] = result["Corrections_Subject"].apply(ensure_single_value)
result["Corrections_Predicate"] = result["Corrections_Predicate"].apply(ensure_single_value)
result["Corrections_Object"] = result["Corrections_Object"].apply(ensure_single_value)


def handle_nan_subject(row):
    """ If subject is wrong, then it is easier to swap the statement and correct the object """
    if not pd.isna(row["Corrections_Subject"]):
        row["Input1ID"], row["Input3ID"] = row["Input3ID"], row["Input1ID"]
        row["Corrections_Object"] = row["Corrections_Subject"]
        row["Corrections_Subject"] = np.nan
    return row

result = result.apply(handle_nan_subject, axis=1)

if not result["Corrections_Subject"].isna().all():
    raise Exception("Not all corrections have been handled")

result = result.drop(columns=["Corrections_Subject"])

result

,Input1ID,Input2ID,Input3ID,HITTypeId,Votes_CORRECT,Votes_INCORRECT,Corrections_Predicate,Corrections_Object
0,a happy event,cast member,theis schmidt,9QT,0,4,NaN,erika sainte
1,a night at the opera,cast member,jude law,9QT,1,3,NaN,rolfe sedan
2,william hurt,cast member,behind the candelabra,8QT,1,3,NaN,the blue butterfly
3,frederick worlock,cast member,bloody mama,8QT,1,3,NaN,airport
4,cho geunhyeon,country of citizenship,Q916,9QT,2,2,NaN,Q884
5,conan the barbarian,voice actor,rose mcgowan,8QT,1,3,cast member,NaN
6,eskimo,production designer,john lee mahin,9QT,0,4,screenwriter,NaN
7,et the extraterrestrial,box office,792910554,7QT,3,1,NaN,NaN
8,finding nemo,box office,969023261,7QT,1,3,NaN,NaN
9,free willy 3 the rescue,screenwriter,angel de andres miquel,9QT,1,3,NaN,keith walker
10,Q30,country of origin,gandhi,8QT,2,2,NaN,king solomons mines
11,god help the girl,publication date,2014-01-18,7QT,2,2,NaN,2014-02-18
12,guardians of the galaxy vol 2,box office,863756050,8QT,1,3,NaN,863756051
13,gunter grass,place of burial,Q1792,9QT,2,2,place of birth,NaN
14,in the line of fire,box office,176997186,8QT,1,3,NaN,176997168
15,iron man 3,jmk film rating,Q28732983,9QT,0,4,NaN,Q28732985
16,kaboom,publication date,2010-10-01,8QT,2,2,NaN,2010-01-01
17,kung fu panda 3,box office,511200000,8QT,4,0,NaN,NaN
18,les miserables,main subject,claude lelouch,9QT,1,3,director of photography,NaN
19,like crazy,publication date,2001-01-01,8QT,0,4,NaN,2011-01-01
20,lillian lehman,genre,Q33999,8QT,2,2,occupation,NaN
21,magic carpet ride,cast member,arthur dupont,8QT,1,3,NaN,ezgi mola
22,peter breitmayer,cast member,martial arts of shaolin,8QT,0,4,NaN,horrible bosses
23,masaichi nagata,allegiance,Q17,9QT,2,2,country of citizenship,NaN
24,medea,distributed by,Q80948336,9QT,3,1,NaN,NaN
25,miranda frigon,place of death,Q2096,9QT,2,2,place of birth,NaN
26,mulan,production company,Q48784114,9QT,3,1,NaN,Q7488442
27,naruto the movie guardians of the crescent moo...,art director,tomomichi nishimura,9QT,3,1,NaN,NaN
28,nat pendleton,languages spoken written or signed,Q13330,9QT,2,2,NaN,Q1860
29,nightjohn,publication date,1996-06-01,7QT,1,3,NaN,NaN
30,Q1860,original language of film or tv show,normal,9QT,2,2,NaN,prince valiant
31,peaceful warrior,box office,4300000,7QT,3,1,NaN,NaN
32,robocop 3,box office,10696220,8QT,3,1,NaN,10696210
33,scent of a woman,publication date,1982-01-01,8QT,3,1,NaN,1992-01-01
34,sex death and bowling,publication date,2015-01-05,8QT,4,0,NaN,NaN
35,the browning version,publication date,1951-01-01,7QT,3,1,NaN,NaN
36,the candidate,publication date,2008-08-29,7QT,1,3,NaN,NaN
37,the hell of 63,cast member,giuseppe rinaldi,9QT,3,1,NaN,NaN
38,the partys just beginning,publication date,2018-02-24,7QT,2,2,NaN,2019-02-24
39,the princess and the frog,box office,267000000,7QT,2,2,NaN,NaN
40,the twilight saga eclipse,box office,698491347,7QT,1,3,NaN,698491348
41,tom meets zizou,publication date,2010-10-01,8QT,1,3,NaN,2011-01-01
42,top gun maverick,film crew member,ashley miller,9QT,0,4,screenwriter,NaN
43,xmen first class,executive producer,sheryl lee ralph,9QT,2,2,NaN,stan lee

  Group  Fleiss Kappa
0   7QT     -0.102757
1   8QT      0.167167
2   9QT      0.056937

In [318]:
result.dropna(subset=["Corrections_Predicate", "Corrections_Object"])
result

,Input1ID,Input2ID,Input3ID,HITTypeId,Votes_CORRECT,Votes_INCORRECT,Corrections_Predicate,Corrections_Object
0,a happy event,cast member,theis schmidt,9QT,0,4,NaN,erika sainte
1,a night at the opera,cast member,jude law,9QT,1,3,NaN,rolfe sedan
2,william hurt,cast member,behind the candelabra,8QT,1,3,NaN,the blue butterfly
3,frederick worlock,cast member,bloody mama,8QT,1,3,NaN,airport
4,cho geunhyeon,country of citizenship,Q916,9QT,2,2,NaN,Q884
5,conan the barbarian,voice actor,rose mcgowan,8QT,1,3,cast member,NaN
6,eskimo,production designer,john lee mahin,9QT,0,4,screenwriter,NaN
7,et the extraterrestrial,box office,792910554,7QT,3,1,NaN,NaN
8,finding nemo,box office,969023261,7QT,1,3,NaN,NaN
9,free willy 3 the rescue,screenwriter,angel de andres miquel,9QT,1,3,NaN,keith walker
10,Q30,country of origin,gandhi,8QT,2,2,NaN,king solomons mines
11,god help the girl,publication date,2014-01-18,7QT,2,2,NaN,2014-02-18
12,guardians of the galaxy vol 2,box office,863756050,8QT,1,3,NaN,863756051
13,gunter grass,place of burial,Q1792,9QT,2,2,place of birth,NaN
14,in the line of fire,box office,176997186,8QT,1,3,NaN,176997168
15,iron man 3,jmk film rating,Q28732983,9QT,0,4,NaN,Q28732985
16,kaboom,publication date,2010-10-01,8QT,2,2,NaN,2010-01-01
17,kung fu panda 3,box office,511200000,8QT,4,0,NaN,NaN
18,les miserables,main subject,claude lelouch,9QT,1,3,director of photography,NaN
19,like crazy,publication date,2001-01-01,8QT,0,4,NaN,2011-01-01
20,lillian lehman,genre,Q33999,8QT,2,2,occupation,NaN
21,magic carpet ride,cast member,arthur dupont,8QT,1,3,NaN,ezgi mola
22,peter breitmayer,cast member,martial arts of shaolin,8QT,0,4,NaN,horrible bosses
23,masaichi nagata,allegiance,Q17,9QT,2,2,country of citizenship,NaN
24,medea,distributed by,Q80948336,9QT,3,1,NaN,NaN
25,miranda frigon,place of death,Q2096,9QT,2,2,place of birth,NaN
26,mulan,production company,Q48784114,9QT,3,1,NaN,Q7488442
27,naruto the movie guardians of the crescent moo...,art director,tomomichi nishimura,9QT,3,1,NaN,NaN
28,nat pendleton,languages spoken written or signed,Q13330,9QT,2,2,NaN,Q1860
29,nightjohn,publication date,1996-06-01,7QT,1,3,NaN,NaN
30,Q1860,original language of film or tv show,normal,9QT,2,2,NaN,prince valiant
31,peaceful warrior,box office,4300000,7QT,3,1,NaN,NaN
32,robocop 3,box office,10696220,8QT,3,1,NaN,10696210
33,scent of a woman,publication date,1982-01-01,8QT,3,1,NaN,1992-01-01
34,sex death and bowling,publication date,2015-01-05,8QT,4,0,NaN,NaN
35,the browning version,publication date,1951-01-01,7QT,3,1,NaN,NaN
36,the candidate,publication date,2008-08-29,7QT,1,3,NaN,NaN
37,the hell of 63,cast member,giuseppe rinaldi,9QT,3,1,NaN,NaN
38,the partys just beginning,publication date,2018-02-24,7QT,2,2,NaN,2019-02-24
39,the princess and the frog,box office,267000000,7QT,2,2,NaN,NaN
40,the twilight saga eclipse,box office,698491347,7QT,1,3,NaN,698491348
41,tom meets zizou,publication date,2010-10-01,8QT,1,3,NaN,2011-01-01
42,top gun maverick,film crew member,ashley miller,9QT,0,4,screenwriter,NaN
43,xmen first class,executive producer,sheryl lee ralph,9QT,2,2,NaN,stan lee

In [319]:
import re
import unicodedata


def normalize_string(s):
    """Normalizes strings by removing non-ASCII characters, punctuation, and redundant spaces."""
    normalized = unicodedata.normalize('NFKD', s.lower())
    cleaned = re.sub(r'[^\w\s]', '', normalized.replace("'", "").replace('"', ''))
    return ' '.join(cleaned.split())


def create_correction_index(df):
    """
    Create an index for corrections to be applied to the original data.
    Creates Lookup for subject, list contains (predicate, object, corrected_predicate, corrected_object) tuples

    """
    index = {}
    for _, row in df.iterrows():
        input1_id = row["Input1ID"]
        if input1_id not in index:
            index[input1_id] = []

        if pd.notna(row["Corrections_Predicate"]):
            index[input1_id].append((row["Input2ID"], row["Input3ID"], row["Corrections_Predicate"], row["Input3ID"], row["Votes_CORRECT"], row["Votes_INCORRECT"]))

        if pd.notna(row["Corrections_Object"]):
            index[input1_id].append((row["Input2ID"], row["Input3ID"], row["Input2ID"], row["Corrections_Object"], row["Votes_CORRECT"], row["Votes_INCORRECT"]))

    return index

correction_index = create_correction_index(result)

with open("./exports/crowd_source.json", "w") as f:
    json.dump(correction_index, f, indent=2)