In [655]:
import pandas as pd
import numpy as np
import json
import re
import unicodedata

In [656]:
with open("./exports/crowd_data.tsv", "r") as f:
    crowd_df = pd.read_csv(f, sep="\t", index_col="AssignmentId")
    crowd_df = crowd_df.sort_values(by=["HITId", "HITTypeId", "WorkerId"])

crowd_df

,HITId,HITTypeId,Title,Reward,WorkerId,AssignmentStatus,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,,,,,
4,1,7QT,Is this triple correct or incorrect?,$0.50,1726JMZQW,Submitted,80,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
1,1,7QT,Is this triple correct or incorrect?,$0.50,2133ICYWE97,Submitted,60,99%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
2,1,7QT,Is this triple correct or incorrect?,$0.50,2133U7HKDLO,Submitted,40,40%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,yes,yes
5,1,7QT,Is this triple correct or incorrect?,$0.50,2134U7HKDMM,Submitted,2,70%,wd:Q11621,wdt:P2142,792910554,1.0,CORRECT,NaN,NaN
3,1,7QT,Is this triple correct or incorrect?,$0.50,928UJANWZ12,Submitted,50,98%,wd:Q11621,wdt:P2142,792910554,2.0,INCORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,61,9QT,Is this triple correct or incorrect?,$0.50,AALKMII97,Submitted,240,98%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,Object,Q1860
303,61,9QT,Is this triple correct or incorrect?,$0.50,GGUI83657S,Submitted,120,85%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
302,61,9QT,Is this triple correct or incorrect?,$0.50,HHCKW1111,Submitted,200,80%,wd:Q1288004,wdt:P1412,wd:Q13330,1.0,CORRECT,NaN,NaN
305,61,9QT,Is this triple correct or incorrect?,$0.50,QZAHIFT8263,Submitted,2,40%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,100,100
304,61,9QT,Is this triple correct or incorrect?,$0.50,WWHL098SA43,Submitted,10,69%,wd:Q1288004,wdt:P1412,wd:Q13330,2.0,INCORRECT,NaN,NaN

In [657]:
crowd_df.drop(columns=["Title", "Reward", "AssignmentStatus", "AnswerID"], inplace=True)
crowd_df

,HITId,HITTypeId,WorkerId,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,
4,1,7QT,1726JMZQW,80,70%,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
1,1,7QT,2133ICYWE97,60,99%,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
2,1,7QT,2133U7HKDLO,40,40%,wd:Q11621,wdt:P2142,792910554,CORRECT,yes,yes
5,1,7QT,2134U7HKDMM,2,70%,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
3,1,7QT,928UJANWZ12,50,98%,wd:Q11621,wdt:P2142,792910554,INCORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
301,61,9QT,AALKMII97,240,98%,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,120,85%,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
302,61,9QT,HHCKW1111,200,80%,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
305,61,9QT,QZAHIFT8263,2,40%,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,100,100
304,61,9QT,WWHL098SA43,10,69%,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,NaN,NaN

In [658]:
crowd_df['LifetimeApprovalRate'] = crowd_df['LifetimeApprovalRate'].astype(str).str.rstrip('%').astype('float') / 100
crowd_df['WorkTimeInSeconds'] = crowd_df['WorkTimeInSeconds'].astype(float)
crowd_df

,HITId,HITTypeId,WorkerId,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,
4,1,7QT,1726JMZQW,80.0,0.70,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
1,1,7QT,2133ICYWE97,60.0,0.99,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
2,1,7QT,2133U7HKDLO,40.0,0.40,wd:Q11621,wdt:P2142,792910554,CORRECT,yes,yes
5,1,7QT,2134U7HKDMM,2.0,0.70,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
3,1,7QT,928UJANWZ12,50.0,0.98,wd:Q11621,wdt:P2142,792910554,INCORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
301,61,9QT,AALKMII97,240.0,0.98,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,120.0,0.85,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
302,61,9QT,HHCKW1111,200.0,0.80,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
305,61,9QT,QZAHIFT8263,2.0,0.40,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,100,100
304,61,9QT,WWHL098SA43,10.0,0.69,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,NaN,NaN

In [659]:
crowd_df = crowd_df[crowd_df['LifetimeApprovalRate'] >= 0.5]
crowd_df

,HITId,HITTypeId,WorkerId,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,
4,1,7QT,1726JMZQW,80.0,0.70,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
1,1,7QT,2133ICYWE97,60.0,0.99,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
5,1,7QT,2134U7HKDMM,2.0,0.70,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
3,1,7QT,928UJANWZ12,50.0,0.98,wd:Q11621,wdt:P2142,792910554,INCORRECT,NaN,NaN
9,2,7QT,1726JMZQW,90.0,0.70,wd:Q603545,wdt:P2142,4300000,CORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
299,60,9QT,WWHL098SA43,10.0,0.69,wd:Q21060270,wdt:P27,wd:Q916,INCORRECT,NaN,NaN
301,61,9QT,AALKMII97,240.0,0.98,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,120.0,0.85,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
302,61,9QT,HHCKW1111,200.0,0.80,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
304,61,9QT,WWHL098SA43,10.0,0.69,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,NaN,NaN

In [660]:
average_work_time = crowd_df.groupby('WorkerId')['WorkTimeInSeconds'].mean()
average_work_time

WorkerId
1726JMZQW      188.523810
2133ICYWE97    108.571429
2134U7HKDMM      2.000000
928UJANWZ12    146.000000
AALKMII97      240.000000
AALKMII98      244.050000
GGUI83657S     120.000000
HHCKW1111      201.700000
WWHL098SA43     10.000000
ZZHL098SA43      2.000000
Name: WorkTimeInSeconds, dtype: float64

In [661]:
workers_to_remove = average_work_time[average_work_time < 35].index
crowd_df = crowd_df[~crowd_df['WorkerId'].isin(workers_to_remove)]
crowd_df

,HITId,HITTypeId,WorkerId,WorkTimeInSeconds,LifetimeApprovalRate,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,,,
4,1,7QT,1726JMZQW,80.0,0.70,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
1,1,7QT,2133ICYWE97,60.0,0.99,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
3,1,7QT,928UJANWZ12,50.0,0.98,wd:Q11621,wdt:P2142,792910554,INCORRECT,NaN,NaN
9,2,7QT,1726JMZQW,90.0,0.70,wd:Q603545,wdt:P2142,4300000,CORRECT,NaN,NaN
7,2,7QT,2133ICYWE97,120.0,0.99,wd:Q603545,wdt:P2142,4300000,CORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
298,60,9QT,GGUI83657S,120.0,0.85,wd:Q21060270,wdt:P27,wd:Q916,CORRECT,NaN,NaN
297,60,9QT,HHCKW1111,200.0,0.80,wd:Q21060270,wdt:P27,wd:Q916,CORRECT,NaN,NaN
301,61,9QT,AALKMII97,240.0,0.98,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,120.0,0.85,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
302,61,9QT,HHCKW1111,200.0,0.80,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN

In [662]:
crowd_df.drop(columns=["WorkTimeInSeconds", "LifetimeApprovalRate"], inplace=True)
crowd_df

,HITId,HITTypeId,WorkerId,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue
AssignmentId,,,,,,,,,
4,1,7QT,1726JMZQW,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
1,1,7QT,2133ICYWE97,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN
3,1,7QT,928UJANWZ12,wd:Q11621,wdt:P2142,792910554,INCORRECT,NaN,NaN
9,2,7QT,1726JMZQW,wd:Q603545,wdt:P2142,4300000,CORRECT,NaN,NaN
7,2,7QT,2133ICYWE97,wd:Q603545,wdt:P2142,4300000,CORRECT,NaN,NaN
...,...,...,...,...,...,...,...,...,...
298,60,9QT,GGUI83657S,wd:Q21060270,wdt:P27,wd:Q916,CORRECT,NaN,NaN
297,60,9QT,HHCKW1111,wd:Q21060270,wdt:P27,wd:Q916,CORRECT,NaN,NaN
301,61,9QT,AALKMII97,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,Object,Q1860
303,61,9QT,GGUI83657S,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN
302,61,9QT,HHCKW1111,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN

In [663]:
from statsmodels.stats.inter_rater import fleiss_kappa

data_group = (
    crowd_df.groupby(["HITTypeId", "HITId", "AnswerLabel"])
    .size()
    .unstack(fill_value=0)
)

kappa_results = {}
for htype, subgroup in data_group.groupby(level=0):
    table = subgroup.droplevel(0)
    kappa_score = fleiss_kappa(table)
    kappa_results[htype] = round(kappa_score, 3)

kappa_summary = pd.DataFrame(
    list(kappa_results.items()), columns=["HITTypeId", "FleissKappa"]
)

kappa_summary

  HITTypeId  FleissKappa
0       7QT        0.236
1       8QT        0.040
2       9QT        0.199

In [664]:
crowd_df["FleissKappa"] = crowd_df["HITTypeId"].map(kappa_summary.set_index("HITTypeId")["FleissKappa"])
crowd_df

,HITId,HITTypeId,WorkerId,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue,FleissKappa
AssignmentId,,,,,,,,,,
4,1,7QT,1726JMZQW,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN,0.236
1,1,7QT,2133ICYWE97,wd:Q11621,wdt:P2142,792910554,CORRECT,NaN,NaN,0.236
3,1,7QT,928UJANWZ12,wd:Q11621,wdt:P2142,792910554,INCORRECT,NaN,NaN,0.236
9,2,7QT,1726JMZQW,wd:Q603545,wdt:P2142,4300000,CORRECT,NaN,NaN,0.236
7,2,7QT,2133ICYWE97,wd:Q603545,wdt:P2142,4300000,CORRECT,NaN,NaN,0.236
...,...,...,...,...,...,...,...,...,...,...
298,60,9QT,GGUI83657S,wd:Q21060270,wdt:P27,wd:Q916,CORRECT,NaN,NaN,0.199
297,60,9QT,HHCKW1111,wd:Q21060270,wdt:P27,wd:Q916,CORRECT,NaN,NaN,0.199
301,61,9QT,AALKMII97,wd:Q1288004,wdt:P1412,wd:Q13330,INCORRECT,Object,Q1860,0.199
303,61,9QT,GGUI83657S,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN,0.199
302,61,9QT,HHCKW1111,wd:Q1288004,wdt:P1412,wd:Q13330,CORRECT,NaN,NaN,0.199

In [665]:
json_files = ["./exports/people_db.json", "./exports/movie_db.json"]
merged_data = {
    k.split("/")[-1]: v
    for file_path in json_files
    for k, v in json.load(open(file_path, 'r')).items()
}

with open("./exports/predicate_db.json", 'r') as f:
    # Reversed index
    merged_data.update({v.split("/")[-1]: k for k, v in json.load(f).items()})


db = pd.read_pickle("./exports/extended_graph_triples.pkl")
db['subject_id'] = db['subject_id'].astype(str).str.strip()
db['subject_id'] = db['subject_id'].apply(lambda x: x.split("/")[-1])
db['predicate_label'] = db['predicate_label'].astype(str).str.strip()
db['object_label'] = db['object_label'].astype(str).str.strip()


def get_subject_label(subject_id):
    result = db[db['subject_id'] == subject_id]
    if not result.empty:
        return result.iloc[0]['subject_label']
    return subject_id

def set_label(value, required=True):
    value = str(value).strip()
    if "/" in value:
        value = value.split("/")[-1]
    elif ":" in value:
        value = value.split(":")[-1]
        if not required and value not in merged_data:
            value = get_subject_label(value)
    else:
        value = get_subject_label(value)

    return merged_data.get(value, np.nan if required else value)

for column in ["Input1ID", "Input2ID"]:
    crowd_df[column] = crowd_df[column].apply(set_label, required=True)

for column in ["Input3ID", "FixValue"]:
    crowd_df[column] = crowd_df[column].apply(set_label, required=False)


crowd_df = crowd_df.dropna(subset=["Input1ID", "Input2ID", "Input3ID"])

crowd_df

,HITId,HITTypeId,WorkerId,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue,FleissKappa
AssignmentId,,,,,,,,,,
4,1,7QT,1726JMZQW,et the extraterrestrial,box office,792910554,CORRECT,NaN,nan,0.236
1,1,7QT,2133ICYWE97,et the extraterrestrial,box office,792910554,CORRECT,NaN,nan,0.236
3,1,7QT,928UJANWZ12,et the extraterrestrial,box office,792910554,INCORRECT,NaN,nan,0.236
9,2,7QT,1726JMZQW,peaceful warrior,box office,4300000,CORRECT,NaN,nan,0.236
7,2,7QT,2133ICYWE97,peaceful warrior,box office,4300000,CORRECT,NaN,nan,0.236
...,...,...,...,...,...,...,...,...,...,...
298,60,9QT,GGUI83657S,cho geunhyeon,country of citizenship,angola,CORRECT,NaN,nan,0.199
297,60,9QT,HHCKW1111,cho geunhyeon,country of citizenship,angola,CORRECT,NaN,nan,0.199
301,61,9QT,AALKMII97,nat pendleton,languages spoken written or signed,mirandese,INCORRECT,Object,english,0.199
303,61,9QT,GGUI83657S,nat pendleton,languages spoken written or signed,mirandese,CORRECT,NaN,nan,0.199
302,61,9QT,HHCKW1111,nat pendleton,languages spoken written or signed,mirandese,CORRECT,NaN,nan,0.199

In [666]:
import numpy as np
import pandas as pd

def find_majority_fix(group):
    majority_vote = group['AnswerLabel'].value_counts().idxmax()

    fix_value_counts = group['FixValue'].value_counts()
    position_value_counts = group['FixPosition'].value_counts()

    most_common_fix = (
        fix_value_counts.idxmax()
        if len(fix_value_counts) > 0 and fix_value_counts.iloc[0] > (len(group) / 2)
        else None
    )
    most_common_position = (
        position_value_counts.idxmax()
        if len(position_value_counts) > 0 and position_value_counts.iloc[0] > (len(group) / 2)
        else None
    )

    if majority_vote == "INCORRECT" and most_common_fix is not None and most_common_position is not None:
        group['AnswerLabel'] = "CORRECTED"
        group['FixValue'] = most_common_fix
        group['FixPosition'] = most_common_position
    else:
        group['FixValue'] = np.nan
        group['FixPosition'] = np.nan

    return group

majority_crowd_df = (
    crowd_df.groupby("HITId", group_keys=False)
    .apply(find_majority_fix)
    .reset_index(drop=True)
)

majority_crowd_df

,HITId,HITTypeId,WorkerId,Input1ID,Input2ID,Input3ID,AnswerLabel,FixPosition,FixValue,FleissKappa
0,1,7QT,1726JMZQW,et the extraterrestrial,box office,792910554,CORRECT,NaN,NaN,0.236
1,1,7QT,2133ICYWE97,et the extraterrestrial,box office,792910554,CORRECT,NaN,NaN,0.236
2,1,7QT,928UJANWZ12,et the extraterrestrial,box office,792910554,INCORRECT,NaN,NaN,0.236
3,2,7QT,1726JMZQW,peaceful warrior,box office,4300000,CORRECT,NaN,NaN,0.236
4,2,7QT,2133ICYWE97,peaceful warrior,box office,4300000,CORRECT,NaN,NaN,0.236
...,...,...,...,...,...,...,...,...,...,...
127,60,9QT,GGUI83657S,cho geunhyeon,country of citizenship,angola,CORRECT,NaN,NaN,0.199
128,60,9QT,HHCKW1111,cho geunhyeon,country of citizenship,angola,CORRECT,NaN,NaN,0.199
129,61,9QT,AALKMII97,nat pendleton,languages spoken written or signed,mirandese,INCORRECT,NaN,NaN,0.199
130,61,9QT,GGUI83657S,nat pendleton,languages spoken written or signed,mirandese,CORRECT,NaN,NaN,0.199
131,61,9QT,HHCKW1111,nat pendleton,languages spoken written or signed,mirandese,CORRECT,NaN,NaN,0.199

In [667]:
result = (
    crowd_df.groupby(["Input1ID", "Input2ID", "Input3ID", "HITTypeId", "HITId"])
    .agg(
        Votes_CORRECT=("AnswerLabel", lambda x: (x == "CORRECT").sum()),
        Votes_INCORRECT=("AnswerLabel", lambda x: (x == "INCORRECT").sum()),
        Corrections_Subject=("FixValue", lambda x: x[crowd_df["FixPosition"] == "Subject"].tolist()),
        Corrections_Predicate=("FixValue", lambda x: x[crowd_df["FixPosition"] == "Predicate"].tolist()),
        Corrections_Object=("FixValue", lambda x: x[crowd_df["FixPosition"] == "Object"].tolist()),
        FleissKappa=("FleissKappa", "first")
    )
    .reset_index()
)

def ensure_single_value(corrections):
    unique_values = list(set([v for v in corrections if pd.notna(v) and v != "nan"]))
    if len(unique_values) > 1:
        raise ValueError(f"Multiple values found where a single value is expected: {unique_values}")
    return unique_values[0] if unique_values else np.nan

result["Corrections_Subject"] = result["Corrections_Subject"].apply(ensure_single_value)
result["Corrections_Predicate"] = result["Corrections_Predicate"].apply(ensure_single_value)
result["Corrections_Object"] = result["Corrections_Object"].apply(ensure_single_value)


def handle_nan_subject(row):
    """ If subject is wrong, then it is easier to swap the statement and correct the object """
    if not pd.isna(row["Corrections_Subject"]):
        row["Input1ID"], row["Input3ID"] = row["Input3ID"], row["Input1ID"]
        row["Corrections_Object"] = row["Corrections_Subject"]
        row["Corrections_Subject"] = np.nan
    return row

result = result.apply(handle_nan_subject, axis=1)

if not result["Corrections_Subject"].isna().all():
    raise Exception("Not all corrections have been handled")

result = result.drop(columns=["Corrections_Subject"])

result

,Input1ID,Input2ID,Input3ID,HITTypeId,HITId,Votes_CORRECT,Votes_INCORRECT,Corrections_Predicate,Corrections_Object,FleissKappa
0,a happy event,cast member,theis schmidt,9QT,44,0,3,NaN,erika sainte,0.199
1,a night at the opera,cast member,jude law,9QT,58,0,3,NaN,rolfe sedan,0.199
2,william hurt,cast member,behind the candelabra,8QT,32,1,2,NaN,the blue butterfly,0.040
3,frederick worlock,cast member,bloody mama,8QT,38,1,2,NaN,airport,0.040
4,cho geunhyeon,country of citizenship,angola,9QT,60,2,1,NaN,south korea,0.199
5,conan the barbarian,voice actor,rose mcgowan,8QT,41,1,2,cast member,NaN,0.040
6,eskimo,production designer,john lee mahin,9QT,43,0,3,screenwriter,NaN,0.199
7,et the extraterrestrial,box office,792910554,7QT,1,2,1,NaN,NaN,0.236
8,finding nemo,box office,969023261,7QT,4,0,3,NaN,NaN,0.236
9,free willy 3 the rescue,screenwriter,angel de andres miquel,9QT,45,1,2,NaN,keith walker,0.199
10,united states of america,country of origin,gandhi,8QT,35,1,2,NaN,king solomons mines,0.040
11,god help the girl,publication date,2014-01-18,7QT,3,2,1,NaN,2014-02-18,0.236
12,guardians of the galaxy vol 2,box office,863756050,8QT,27,1,2,NaN,863756051,0.040
13,gunter grass,place of burial,gdansk,9QT,54,2,1,place of birth,NaN,0.199
14,in the line of fire,box office,176997186,8QT,24,1,2,NaN,176997168,0.040
15,iron man 3,jmk film rating,free from 8 years,9QT,46,0,3,NaN,free from 12 years,0.199
16,kaboom,publication date,2010-10-01,8QT,22,1,2,NaN,2010-01-01,0.040
17,kung fu panda 3,box office,511200000,8QT,28,3,0,NaN,NaN,0.040
18,les miserables,main subject,claude lelouch,9QT,42,1,2,director of photography,NaN,0.199
19,like crazy,publication date,2001-01-01,8QT,23,0,3,NaN,2011-01-01,0.040
20,lillian lehman,genre,actor,8QT,40,1,2,occupation,NaN,0.040
21,magic carpet ride,cast member,arthur dupont,8QT,29,0,3,NaN,ezgi mola,0.040
22,peter breitmayer,cast member,martial arts of shaolin,8QT,34,0,3,NaN,horrible bosses,0.040
23,masaichi nagata,allegiance,japan,9QT,53,2,1,country of citizenship,NaN,0.199
24,medea,distributed by,fandangonow,9QT,50,3,0,NaN,NaN,0.199
25,miranda frigon,place of death,edmonton,9QT,56,2,1,place of birth,NaN,0.199
26,mulan,production company,wtfn,9QT,59,2,1,NaN,shanghai film group,0.199
27,naruto the movie guardians of the crescent moo...,art director,tomomichi nishimura,9QT,52,3,0,NaN,NaN,0.199
28,nat pendleton,languages spoken written or signed,mirandese,9QT,61,2,1,NaN,english,0.199
29,nightjohn,publication date,1996-06-01,7QT,10,1,2,NaN,NaN,0.236
30,english,original language of film or tv show,normal,9QT,48,2,1,NaN,prince valiant,0.199
31,peaceful warrior,box office,4300000,7QT,2,3,0,NaN,NaN,0.236
32,robocop 3,box office,10696220,8QT,31,2,1,NaN,10696210,0.040
33,scent of a woman,publication date,1982-01-01,8QT,25,2,1,NaN,1992-01-01,0.040
34,sex death and bowling,publication date,2015-01-05,8QT,30,3,0,NaN,NaN,0.040
35,the browning version,publication date,1951-01-01,7QT,5,3,0,NaN,NaN,0.236
36,the candidate,publication date,2008-08-29,7QT,9,0,3,NaN,NaN,0.236
37,the hell of 63,cast member,giuseppe rinaldi,9QT,51,3,0,NaN,NaN,0.199
38,the partys just beginning,publication date,2018-02-24,7QT,6,1,2,NaN,2019-02-24,0.236
39,the princess and the frog,box office,267000000,7QT,7,2,1,NaN,NaN,0.236
40,the twilight saga eclipse,box office,698491347,7QT,8,0,3,NaN,698491348,0.236
41,tom meets zizou,publication date,2010-10-01,8QT,26,0,3,NaN,2011-01-01,0.040
42,top gun maverick,film crew member,ashley miller,9QT,47,0,3,screenwriter,NaN,0.199
43,xmen first class,executive producer,sheryl lee ralph,9QT,57,2,1,NaN,stan lee,0.199

In [668]:
################
# ADJUSTMENT
################
import warnings
warnings.filterwarnings("ignore")

result.replace("NaN", np.nan, inplace=True)
result["Corrections_Predicate"].fillna(result["Input2ID"], inplace=True)
result["Corrections_Object"].fillna(result["Input3ID"], inplace=True)
filtered_result = result.dropna(subset=["Corrections_Predicate", "Corrections_Object"], how='all')

# remove all where Vote_CORRECT > Vote_INCORRECT
# filtered_result = filtered_result[filtered_result["Votes_CORRECT"]-2 < filtered_result["Votes_INCORRECT"]]

filtered_result

,Input1ID,Input2ID,Input3ID,HITTypeId,HITId,Votes_CORRECT,Votes_INCORRECT,Corrections_Predicate,Corrections_Object,FleissKappa
0,a happy event,cast member,theis schmidt,9QT,44,0,3,cast member,erika sainte,0.199
1,a night at the opera,cast member,jude law,9QT,58,0,3,cast member,rolfe sedan,0.199
2,william hurt,cast member,behind the candelabra,8QT,32,1,2,cast member,the blue butterfly,0.040
3,frederick worlock,cast member,bloody mama,8QT,38,1,2,cast member,airport,0.040
4,cho geunhyeon,country of citizenship,angola,9QT,60,2,1,country of citizenship,south korea,0.199
5,conan the barbarian,voice actor,rose mcgowan,8QT,41,1,2,cast member,rose mcgowan,0.040
6,eskimo,production designer,john lee mahin,9QT,43,0,3,screenwriter,john lee mahin,0.199
7,et the extraterrestrial,box office,792910554,7QT,1,2,1,box office,792910554,0.236
8,finding nemo,box office,969023261,7QT,4,0,3,box office,969023261,0.236
9,free willy 3 the rescue,screenwriter,angel de andres miquel,9QT,45,1,2,screenwriter,keith walker,0.199
10,united states of america,country of origin,gandhi,8QT,35,1,2,country of origin,king solomons mines,0.040
11,god help the girl,publication date,2014-01-18,7QT,3,2,1,publication date,2014-02-18,0.236
12,guardians of the galaxy vol 2,box office,863756050,8QT,27,1,2,box office,863756051,0.040
13,gunter grass,place of burial,gdansk,9QT,54,2,1,place of birth,gdansk,0.199
14,in the line of fire,box office,176997186,8QT,24,1,2,box office,176997168,0.040
15,iron man 3,jmk film rating,free from 8 years,9QT,46,0,3,jmk film rating,free from 12 years,0.199
16,kaboom,publication date,2010-10-01,8QT,22,1,2,publication date,2010-01-01,0.040
17,kung fu panda 3,box office,511200000,8QT,28,3,0,box office,511200000,0.040
18,les miserables,main subject,claude lelouch,9QT,42,1,2,director of photography,claude lelouch,0.199
19,like crazy,publication date,2001-01-01,8QT,23,0,3,publication date,2011-01-01,0.040
20,lillian lehman,genre,actor,8QT,40,1,2,occupation,actor,0.040
21,magic carpet ride,cast member,arthur dupont,8QT,29,0,3,cast member,ezgi mola,0.040
22,peter breitmayer,cast member,martial arts of shaolin,8QT,34,0,3,cast member,horrible bosses,0.040
23,masaichi nagata,allegiance,japan,9QT,53,2,1,country of citizenship,japan,0.199
24,medea,distributed by,fandangonow,9QT,50,3,0,distributed by,fandangonow,0.199
25,miranda frigon,place of death,edmonton,9QT,56,2,1,place of birth,edmonton,0.199
26,mulan,production company,wtfn,9QT,59,2,1,production company,shanghai film group,0.199
27,naruto the movie guardians of the crescent moo...,art director,tomomichi nishimura,9QT,52,3,0,art director,tomomichi nishimura,0.199
28,nat pendleton,languages spoken written or signed,mirandese,9QT,61,2,1,languages spoken written or signed,english,0.199
29,nightjohn,publication date,1996-06-01,7QT,10,1,2,publication date,1996-06-01,0.236
30,english,original language of film or tv show,normal,9QT,48,2,1,original language of film or tv show,prince valiant,0.199
31,peaceful warrior,box office,4300000,7QT,2,3,0,box office,4300000,0.236
32,robocop 3,box office,10696220,8QT,31,2,1,box office,10696210,0.040
33,scent of a woman,publication date,1982-01-01,8QT,25,2,1,publication date,1992-01-01,0.040
34,sex death and bowling,publication date,2015-01-05,8QT,30,3,0,publication date,2015-01-05,0.040
35,the browning version,publication date,1951-01-01,7QT,5,3,0,publication date,1951-01-01,0.236
36,the candidate,publication date,2008-08-29,7QT,9,0,3,publication date,2008-08-29,0.236
37,the hell of 63,cast member,giuseppe rinaldi,9QT,51,3,0,cast member,giuseppe rinaldi,0.199
38,the partys just beginning,publication date,2018-02-24,7QT,6,1,2,publication date,2019-02-24,0.236
39,the princess and the frog,box office,267000000,7QT,7,2,1,box office,267000000,0.236
40,the twilight saga eclipse,box office,698491347,7QT,8,0,3,box office,698491348,0.236
41,tom meets zizou,publication date,2010-10-01,8QT,26,0,3,publication date,2011-01-01,0.040
42,top gun maverick,film crew member,ashley miller,9QT,47,0,3,screenwriter,ashley miller,0.199
43,xmen first class,executive producer,sheryl lee ralph,9QT,57,2,1,executive producer,stan lee,0.199

In [669]:
def normalize_string(s):
    if not isinstance(s, str):
        return s
    normalized = unicodedata.normalize('NFKD', s.lower())
    cleaned = re.sub(r'[^\w\s]', '', normalized)  # Remove punctuation
    return ' '.join(cleaned.split())  # Remove redundant spaces


def create_correction_index(df):
    index = {}

    for _, row in df.iterrows():
        input1_id = row["Input1ID"]
        if input1_id not in index:
            index[input1_id] = []

        for column in ["Input1ID", "Input2ID", "Input3ID", "Corrections_Predicate", "Corrections_Object"]:
            row[column] = normalize_string(row[column]) if row["Input2ID"] != "publication date" and row["Corrections_Predicate"] != "publication date" else row[column]

        if pd.notna(row["Corrections_Predicate"]) and row["Corrections_Predicate"]:
            index[input1_id].append((
                row["Input2ID"],            # Predicate
                row["Input3ID"],            # Object
                row["Corrections_Predicate"],  # Corrected Predicate
                row["Input3ID"],            # Corrected Object
                row["Votes_CORRECT"],
                row["Votes_INCORRECT"],
                row["FleissKappa"]
            ))

    return index


correction_index = create_correction_index(filtered_result)

In [670]:
correction_index

{'a happy event': [('cast member',
   'theis schmidt',
   'cast member',
   'theis schmidt',
   0,
   3,
   0.199)],
 'a night at the opera': [('cast member',
   'jude law',
   'cast member',
   'jude law',
   0,
   3,
   0.199)],
 'william hurt': [('cast member',
   'behind the candelabra',
   'cast member',
   'behind the candelabra',
   1,
   2,
   0.04)],
 'frederick worlock': [('cast member',
   'bloody mama',
   'cast member',
   'bloody mama',
   1,
   2,
   0.04)],
 'cho geunhyeon': [('country of citizenship',
   'angola',
   'country of citizenship',
   'angola',
   2,
   1,
   0.199)],
 'conan the barbarian': [('voice actor',
   'rose mcgowan',
   'cast member',
   'rose mcgowan',
   1,
   2,
   0.04)],
 'eskimo': [('production designer',
   'john lee mahin',
   'screenwriter',
   'john lee mahin',
   0,
   3,
   0.199)],
 'et the extraterrestrial': [('box office',
   '792910554',
   'box office',
   '792910554',
   2,
   1,
   0.236)],
 'finding nemo': [('box office',
   '969023261',
   'box office',
   '969023261',
   0,
   3,
   0.236)],
 'free willy 3 the rescue': [('screenwriter',
   'angel de andres miquel',
   'screenwriter',
   'angel de andres miquel',
   1,
   2,
   0.199)],
 'united states of america': [('country of origin',
   'gandhi',
   'country of origin',
   'gandhi',
   1,
   2,
   0.04)],
 'god help the girl': [('publication date',
   '2014-01-18',
   'publication date',
   '2014-01-18',
   2,
   1,
   0.236)],
 'guardians of the galaxy vol 2': [('box office',
   '863756050',
   'box office',
   '863756050',
   1,
   2,
   0.04)],
 'gunter grass': [('place of burial',
   'gdansk',
   'place of birth',
   'gdansk',
   2,
   1,
   0.199)],
 'in the line of fire': [('box office',
   '176997186',
   'box office',
   '176997186',
   1,
   2,
   0.04)],
 'iron man 3': [('jmk film rating',
   'free from 8 years',
   'jmk film rating',
   'free from 8 years',
   0,
   3,
   0.199)],
 'kaboom': [('publication date',
   '2010-10-01',
   'publication date',
   '2010-10-01',
   1,
   2,
   0.04)],
 'kung fu panda 3': [('box office',
   '511200000',
   'box office',
   '511200000',
   3,
   0,
   0.04)],
 'les miserables': [('main subject',
   'claude lelouch',
   'director of photography',
   'claude lelouch',
   1,
   2,
   0.199)],
 'like crazy': [('publication date',
   '2001-01-01',
   'publication date',
   '2001-01-01',
   0,
   3,
   0.04)],
 'lillian lehman': [('genre', 'actor', 'occupation', 'actor', 1, 2, 0.04)],
 'magic carpet ride': [('cast member',
   'arthur dupont',
   'cast member',
   'arthur dupont',
   0,
   3,
   0.04)],
 'peter breitmayer': [('cast member',
   'martial arts of shaolin',
   'cast member',
   'martial arts of shaolin',
   0,
   3,
   0.04)],
 'masaichi nagata': [('allegiance',
   'japan',
   'country of citizenship',
   'japan',
   2,
   1,
   0.199)],
 'medea': [('distributed by',
   'fandangonow',
   'distributed by',
   'fandangonow',
   3,
   0,
   0.199)],
 'miranda frigon': [('place of death',
   'edmonton',
   'place of birth',
   'edmonton',
   2,
   1,
   0.199)],
 'mulan': [('production company',
   'wtfn',
   'production company',
   'wtfn',
   2,
   1,
   0.199)],
 'naruto the movie guardians of the crescent moon kingdom': [('art director',
   'tomomichi nishimura',
   'art director',
   'tomomichi nishimura',
   3,
   0,
   0.199)],
 'nat pendleton': [('languages spoken written or signed',
   'mirandese',
   'languages spoken written or signed',
   'mirandese',
   2,
   1,
   0.199)],
 'nightjohn': [('publication date',
   '1996-06-01',
   'publication date',
   '1996-06-01',
   1,
   2,
   0.236)],
 'english': [('original language of film or tv show',
   'normal',
   'original language of film or tv show',
   'normal',
   2,
   1,
   0.199)],
 'peaceful warrior': [('box office',
   '4300000',
   'box office',
   '4300000',
   3,
   0,
   0.236)],
 'robocop 3': [('box office',
   '10696220',
   'box office',
   '10696220',
   2,
   1,
   0.04)],
 'scent of a woman': [('publication date',
   '1982-01-01',
   'publication date',
   '1982-01-01',
   2,
   1,
   0.04)],
 'sex death and bowling': [('publication date',
   '2015-01-05',
   'publication date',
   '2015-01-05',
   3,
   0,
   0.04)],
 'the browning version': [('publication date',
   '1951-01-01',
   'publication date',
   '1951-01-01',
   3,
   0,
   0.236)],
 'the candidate': [('publication date',
   '2008-08-29',
   'publication date',
   '2008-08-29',
   0,
   3,
   0.236)],
 'the hell of 63': [('cast member',
   'giuseppe rinaldi',
   'cast member',
   'giuseppe rinaldi',
   3,
   0,
   0.199)],
 'the partys just beginning': [('publication date',
   '2018-02-24',
   'publication date',
   '2018-02-24',
   1,
   2,
   0.236)],
 'the princess and the frog': [('box office',
   '267000000',
   'box office',
   '267000000',
   2,
   1,
   0.236)],
 'the twilight saga eclipse': [('box office',
   '698491347',
   'box office',
   '698491347',
   0,
   3,
   0.236)],
 'tom meets zizou': [('publication date',
   '2010-10-01',
   'publication date',
   '2010-10-01',
   0,
   3,
   0.04)],
 'top gun maverick': [('film crew member',
   'ashley miller',
   'screenwriter',
   'ashley miller',
   0,
   3,
   0.199)],
 'xmen first class': [('executive producer',
   'sheryl lee ralph',
   'executive producer',
   'sheryl lee ralph',
   2,
   1,
   0.199)]}

In [671]:
def generate_question(predicate, obj, entity):
    templates = {
        'box office': "What is the box office of {entity}?",
        'publication date': "What is the publication date of {entity}?",
        'director of photography': "Who is the director of photography of {obj}?",
        'country of origin': "What is the country of origin of {obj}?",
        'executive producer': "Who is the executive producer of {entity}?",
        'art director': "Who is the art director of {entity}?",
        'cast member': "Who is the cast member {entity} in {obj}?",
        'production company': "Who is the production company of {entity}?",
        'place of birth': "What is the place of birth of {entity}?",
        'distributed by': "Who distributed {entity}?",
        'country of citizenship': "What is the country of citizenship of {entity}?",
        'original language of film or tv show': "What is the original language of the film {entity}?",
    }
    template = templates.get(predicate, "What is the {predicate} of {entity}?")
    return template.format(entity=entity.title(), obj=obj.title(), predicate=predicate)

def generate_answer(predicate, obj, entity):
    templates = {
        'box office': "The box office of {entity} is {object}.",
        'publication date': "The publication date of {entity} is {object}.",
        'director of photography': "The director of photography of {entity} is {object}.",
        'country of origin': "The country of origin of {entity} is {object}.",
        'executive producer': "The executive producer of {entity} is {object}.",
        'art director': "The art director of {entity} is {object}.",
        'cast member': "{object} is a cast member of {entity}.",
        'production company': "The production company of {entity} is {object}.",
        'place of birth': "The place of birth of {entity} is {object}.",
        'distributed by': "{entity} was distributed by {object}.",
        'country of citizenship': "The country of citizenship of {entity} is {object}.",
        'original language of film or tv show': "The original language of {entity} is {object}.",
    }
    template = templates.get(predicate, "{object}")
    return template.format(entity=entity.title(), object=obj.title(), predicate=predicate)

def generate_qa_pairs(index):
    qa_pairs = []
    for entity, corrections in index.items():
        for correction in corrections:
            orig_predicate, orig_object, corrected_predicate, corrected_object, votes_correct, votes_incorrect, inter_agreement = correction

            predicate = corrected_predicate if corrected_predicate else orig_predicate
            obj = corrected_object if corrected_object else orig_object

            question = generate_question(predicate, obj, entity)
            answer = generate_answer(predicate, obj, entity)
            answer += f"\n[Crowd, inter-rater agreement {inter_agreement}, The answer distribution for this specific task was {votes_correct} support votes, {votes_incorrect} reject votes]"

            qa_pairs.append({'question': question, 'answer': answer})
    return qa_pairs

In [672]:
qa_pairs = generate_qa_pairs(correction_index)

In [673]:
qa_pairs

[{'question': 'Who is the cast member A Happy Event in Theis Schmidt?',
  'answer': 'Theis Schmidt is a cast member of A Happy Event.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'Who is the cast member A Night At The Opera in Jude Law?',
  'answer': 'Jude Law is a cast member of A Night At The Opera.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'Who is the cast member William Hurt in Behind The Candelabra?',
  'answer': 'Behind The Candelabra is a cast member of William Hurt.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'Who is the cast member Frederick Worlock in Bloody Mama?',
  'answer': 'Bloody Mama is a cast member of Frederick Worlock.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the country of citizenship of Cho Geunhyeon?',
  'answer': 'The country of citizenship of Cho Geunhyeon is Angola.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'Who is the cast member Conan The Barbarian in Rose Mcgowan?',
  'answer': 'Rose Mcgowan is a cast member of Conan The Barbarian.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the screenwriter of Eskimo?',
  'answer': 'John Lee Mahin\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'What is the box office of Et The Extraterrestrial?',
  'answer': 'The box office of Et The Extraterrestrial is 792910554.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the box office of Finding Nemo?',
  'answer': 'The box office of Finding Nemo is 969023261.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'What is the screenwriter of Free Willy 3 The Rescue?',
  'answer': 'Angel De Andres Miquel\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the country of origin of Gandhi?',
  'answer': 'The country of origin of United States Of America is Gandhi.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the publication date of God Help The Girl?',
  'answer': 'The publication date of God Help The Girl is 2014-01-18.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the box office of Guardians Of The Galaxy Vol 2?',
  'answer': 'The box office of Guardians Of The Galaxy Vol 2 is 863756050.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the place of birth of Gunter Grass?',
  'answer': 'The place of birth of Gunter Grass is Gdansk.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the box office of In The Line Of Fire?',
  'answer': 'The box office of In The Line Of Fire is 176997186.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the jmk film rating of Iron Man 3?',
  'answer': 'Free From 8 Years\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'What is the publication date of Kaboom?',
  'answer': 'The publication date of Kaboom is 2010-10-01.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the box office of Kung Fu Panda 3?',
  'answer': 'The box office of Kung Fu Panda 3 is 511200000.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 3 support votes, 0 reject votes]'},
 {'question': 'Who is the director of photography of Claude Lelouch?',
  'answer': 'The director of photography of Les Miserables is Claude Lelouch.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the publication date of Like Crazy?',
  'answer': 'The publication date of Like Crazy is 2001-01-01.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'What is the occupation of Lillian Lehman?',
  'answer': 'Actor\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'Who is the cast member Magic Carpet Ride in Arthur Dupont?',
  'answer': 'Arthur Dupont is a cast member of Magic Carpet Ride.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'Who is the cast member Peter Breitmayer in Martial Arts Of Shaolin?',
  'answer': 'Martial Arts Of Shaolin is a cast member of Peter Breitmayer.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'What is the country of citizenship of Masaichi Nagata?',
  'answer': 'The country of citizenship of Masaichi Nagata is Japan.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'Who distributed Medea?',
  'answer': 'Medea was distributed by Fandangonow.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 3 support votes, 0 reject votes]'},
 {'question': 'What is the place of birth of Miranda Frigon?',
  'answer': 'The place of birth of Miranda Frigon is Edmonton.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'Who is the production company of Mulan?',
  'answer': 'The production company of Mulan is Wtfn.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'Who is the art director of Naruto The Movie Guardians Of The Crescent Moon Kingdom?',
  'answer': 'The art director of Naruto The Movie Guardians Of The Crescent Moon Kingdom is Tomomichi Nishimura.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 3 support votes, 0 reject votes]'},
 {'question': 'What is the languages spoken written or signed of Nat Pendleton?',
  'answer': 'Mirandese\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the publication date of Nightjohn?',
  'answer': 'The publication date of Nightjohn is 1996-06-01.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the original language of the film English?',
  'answer': 'The original language of English is Normal.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the box office of Peaceful Warrior?',
  'answer': 'The box office of Peaceful Warrior is 4300000.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 3 support votes, 0 reject votes]'},
 {'question': 'What is the box office of Robocop 3?',
  'answer': 'The box office of Robocop 3 is 10696220.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the publication date of Scent Of A Woman?',
  'answer': 'The publication date of Scent Of A Woman is 1982-01-01.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the publication date of Sex Death And Bowling?',
  'answer': 'The publication date of Sex Death And Bowling is 2015-01-05.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 3 support votes, 0 reject votes]'},
 {'question': 'What is the publication date of The Browning Version?',
  'answer': 'The publication date of The Browning Version is 1951-01-01.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 3 support votes, 0 reject votes]'},
 {'question': 'What is the publication date of The Candidate?',
  'answer': 'The publication date of The Candidate is 2008-08-29.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'Who is the cast member The Hell Of 63 in Giuseppe Rinaldi?',
  'answer': 'Giuseppe Rinaldi is a cast member of The Hell Of 63.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 3 support votes, 0 reject votes]'},
 {'question': 'What is the publication date of The Partys Just Beginning?',
  'answer': 'The publication date of The Partys Just Beginning is 2018-02-24.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 1 support votes, 2 reject votes]'},
 {'question': 'What is the box office of The Princess And The Frog?',
  'answer': 'The box office of The Princess And The Frog is 267000000.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 2 support votes, 1 reject votes]'},
 {'question': 'What is the box office of The Twilight Saga Eclipse?',
  'answer': 'The box office of The Twilight Saga Eclipse is 698491347.\n[Crowd, inter-rater agreement 0.236, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'What is the publication date of Tom Meets Zizou?',
  'answer': 'The publication date of Tom Meets Zizou is 2010-10-01.\n[Crowd, inter-rater agreement 0.04, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'What is the screenwriter of Top Gun Maverick?',
  'answer': 'Ashley Miller\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 0 support votes, 3 reject votes]'},
 {'question': 'Who is the executive producer of Xmen First Class?',
  'answer': 'The executive producer of Xmen First Class is Sheryl Lee Ralph.\n[Crowd, inter-rater agreement 0.199, The answer distribution for this specific task was 2 support votes, 1 reject votes]'}]

In [674]:
qa_df = pd.DataFrame(qa_pairs)

In [675]:
qa_df

,question,answer
0,Who is the cast member A Happy Event in Theis ...,Theis Schmidt is a cast member of A Happy Even...
1,Who is the cast member A Night At The Opera in...,Jude Law is a cast member of A Night At The Op...
2,Who is the cast member William Hurt in Behind ...,Behind The Candelabra is a cast member of Will...
3,Who is the cast member Frederick Worlock in Bl...,Bloody Mama is a cast member of Frederick Worl...
4,What is the country of citizenship of Cho Geun...,The country of citizenship of Cho Geunhyeon is...
5,Who is the cast member Conan The Barbarian in ...,Rose Mcgowan is a cast member of Conan The Bar...
6,What is the screenwriter of Eskimo?,"John Lee Mahin\n[Crowd, inter-rater agreement ..."
7,What is the box office of Et The Extraterrestr...,The box office of Et The Extraterrestrial is 7...
8,What is the box office of Finding Nemo?,The box office of Finding Nemo is 969023261.\n...
9,What is the screenwriter of Free Willy 3 The R...,"Angel De Andres Miquel\n[Crowd, inter-rater ag..."
10,What is the country of origin of Gandhi?,The country of origin of United States Of Amer...
11,What is the publication date of God Help The G...,The publication date of God Help The Girl is 2...
12,What is the box office of Guardians Of The Gal...,The box office of Guardians Of The Galaxy Vol ...
13,What is the place of birth of Gunter Grass?,The place of birth of Gunter Grass is Gdansk.\...
14,What is the box office of In The Line Of Fire?,The box office of In The Line Of Fire is 17699...
15,What is the jmk film rating of Iron Man 3?,"Free From 8 Years\n[Crowd, inter-rater agreeme..."
16,What is the publication date of Kaboom?,The publication date of Kaboom is 2010-10-01.\...
17,What is the box office of Kung Fu Panda 3?,The box office of Kung Fu Panda 3 is 511200000...
18,Who is the director of photography of Claude L...,The director of photography of Les Miserables ...
19,What is the publication date of Like Crazy?,The publication date of Like Crazy is 2001-01-...
20,What is the occupation of Lillian Lehman?,"Actor\n[Crowd, inter-rater agreement 0.04, The..."
21,Who is the cast member Magic Carpet Ride in Ar...,Arthur Dupont is a cast member of Magic Carpet...
22,Who is the cast member Peter Breitmayer in Mar...,Martial Arts Of Shaolin is a cast member of Pe...
23,What is the country of citizenship of Masaichi...,The country of citizenship of Masaichi Nagata ...
24,Who distributed Medea?,"Medea was distributed by Fandangonow.\n[Crowd,..."
25,What is the place of birth of Miranda Frigon?,The place of birth of Miranda Frigon is Edmont...
26,Who is the production company of Mulan?,The production company of Mulan is Wtfn.\n[Cro...
27,Who is the art director of Naruto The Movie Gu...,The art director of Naruto The Movie Guardians...
28,What is the languages spoken written or signed...,"Mirandese\n[Crowd, inter-rater agreement 0.199..."
29,What is the publication date of Nightjohn?,The publication date of Nightjohn is 1996-06-0...
30,What is the original language of the film Engl...,The original language of English is Normal.\n[...
31,What is the box office of Peaceful Warrior?,The box office of Peaceful Warrior is 4300000....
32,What is the box office of Robocop 3?,The box office of Robocop 3 is 10696220.\n[Cro...
33,What is the publication date of Scent Of A Woman?,The publication date of Scent Of A Woman is 19...
34,What is the publication date of Sex Death And ...,The publication date of Sex Death And Bowling ...
35,What is the publication date of The Browning V...,The publication date of The Browning Version i...
36,What is the publication date of The Candidate?,The publication date of The Candidate is 2008-...
37,Who is the cast member The Hell Of 63 in Giuse...,Giuseppe Rinaldi is a cast member of The Hell ...
38,What is the publication date of The Partys Jus...,The publication date of The Partys Just Beginn...
39,What is the box office of The Princess And The...,The box office of The Princess And The Frog is...
40,What is the box office of The Twilight Saga Ec...,The box office of The Twilight Saga Eclipse is...
41,What is the publication date of Tom Meets Zizou?,The publication date of Tom Meets Zizou is 201...
42,What is the screenwriter of Top Gun Maverick?,"Ashley Miller\n[Crowd, inter-rater agreement 0..."
43,Who is the executive producer of Xmen First Cl...,The executive producer of Xmen First Class is ...

In [676]:
qa_df.to_csv("crowdsourcer_precomputed.csv")

In [677]:
def find_crowdsourced_answer(query):
    # Embed the user query
    query_embedding = qe.embed_phrase(query)

    # Retrieve similar questions
    similar_questions = self.retrieve_similar_questions(query_embedding)

    # Check if similarity is above threshold
    for sim_question, sim_score in similar_questions:
        if sim_score > self.similarity_threshold:
            # Return the corresponding answer
            answer = self.qa_pairs[sim_question]
            return answer

    return None

In [678]:
import numpy as np
from sentence_transformers import SentenceTransformer
import torch
from utils.utils import get_device
import logging

logging.getLogger("torch").setLevel(logging.WARNING)

class QueryEmbedderContextualized:
    def __init__(self, model_name='sentence-transformers/all-mpnet-base-v2'):
        """Initializes the QueryEmbedder with a SentenceTransformer model and device setup."""
        self.device = get_device()
        self.model = SentenceTransformer(model_name, device=self.device)
        self.cache = {}

    def embed_phrase(self, phrases):
        """
        Generates embeddings for given phrases using SentenceTransformer, with caching.

        Args:
            phrases (str or List[str]): Input phrase(s) to embed.

        Returns:
            np.ndarray: Embedding vector(s) for the input phrase(s).
        """
        if isinstance(phrases, str):
            phrases = [phrases]
        elif not isinstance(phrases, list):
            raise TypeError("Input must be a string or a list of strings.")

        phrases_to_compute = [p for p in phrases if p not in self.cache]
        cached_embeddings = [self.cache[p] for p in phrases if p in self.cache]

        if phrases_to_compute:
            new_embeddings = self.model.encode(
                phrases_to_compute,
                show_progress_bar=False,
                convert_to_numpy=True,
                normalize_embeddings=True
            )

            for phrase, emb in zip(phrases_to_compute, new_embeddings):
                self.cache[phrase] = emb
            cached_embeddings.extend(new_embeddings)

        return cached_embeddings[0] if len(cached_embeddings) == 1 else np.array(cached_embeddings)

In [679]:
qe = QueryEmbedderContextualized()

In [680]:
from sentence_transformers import SentenceTransformer, util
import pandas as pd

model = SentenceTransformer('all-MiniLM-L6-v2')

crowdsourcing_questions = [
    "Who is the director of photography of Being With Juli Ashton?",
    "Who is the director of photography of I Kill Giants?",
    "What is the box office of Et The Extraterrestrial?",
    "What is the country of origin of Gandhi?",
    "What is the country of origin of King Solomons Mines?",
    "What is the publication date of God Help The Girl?",
    "What is the box office of Kung Fu Panda 3?",
    "What is the country of citizenship of Masaichi Nagata?",
    "Who distributed Medea?",
    "What is the place of birth of Miranda Frigon?",
    "Who is the production company of Mulan?",
    "Who is the art director of Naruto The Movie Guardians Of The Crescent Moon Kingdom?",
    "What is the original language of the film English?",
    "What is the box office of Peaceful Warrior?",
    "What is the box office of Robocop 3?",
    "What is the publication date of Scent Of A Woman?",
    "What is the publication date of Sex Death And Bowling?",
    "What is the publication date of The Browning Version?",
    "Who is the cast member The Hell Of 63 in Giuseppe Rinaldi?",
    "What is the publication date of The Partys Just Beginning?",
    "What is the box office of The Princess And The Frog?",
    "Who is the executive producer of Xmen First Class?"
]

crowdsourcing_embeddings = model.encode(crowdsourcing_questions, convert_to_tensor=True)

def classify_query(query):

    query_embedding = model.encode(query, convert_to_tensor=True)
    similarities = util.pytorch_cos_sim(query_embedding, crowdsourcing_embeddings)
    
    max_similarity = similarities.max().item()
    print(max_similarity)
    if max_similarity > 0.9:
        return "crowdsourcing"
    else:
        return "factual"

In [681]:
test_queries = [
    "Who is the director of photography of I Kill Giants?",
    "What is the box office of The Princess And The Frog?",
    "Who distributed Medea?",
    "Who is the production company of Mulan?",
    "Who is the producer of xmen?",
    "Where was Angelina Jolie born?"
]

for query in test_queries:
    label = classify_query(query)
    print(f"Query: {query} => Classified as: {label}")

1.0
Query: Who is the director of photography of I Kill Giants? => Classified as: crowdsourcing
1.0000001192092896
Query: What is the box office of The Princess And The Frog? => Classified as: crowdsourcing
1.0
Query: Who distributed Medea? => Classified as: crowdsourcing
1.0000001192092896
Query: Who is the production company of Mulan? => Classified as: crowdsourcing
0.8891482353210449
Query: Who is the producer of xmen? => Classified as: factual
0.44208404421806335
Query: Where was Angelina Jolie born? => Classified as: factual